In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings('ignore', category=UserWarning, append=True)

In [4]:
k =1 
query = ["one Five Five"]
documents = ["one two three three",  
             "four one five",
             'five two six']
from sklearn.feature_extraction.text import TfidfTransformer
#tfidf_vectorizer = TfidfVectorizer(token_pattern = '\w+\S+|\w+',ngram_range= (1,2),use_idf= False)
count_vectorizer = CountVectorizer(token_pattern = '\w+\S+|\w+',ngram_range=(1,1))
#documents_tfidf = tfidf_vectorizer.fit_transform(documents)

#Get word count of the document5
#document_word_count_vector = count_vectorizer.fit_transform(documents)
q_d = query + documents

query_dtm = count_vectorizer.fit(q_d)
query_dtm = count_vectorizer.transform(query)
query_dtm_matrix = query_dtm.todense()
feature_names = count_vectorizer.get_feature_names()
query_df = pd.DataFrame(query_dtm_matrix,
                                        columns=feature_names)

documents_dtm = count_vectorizer.transform(documents)
documents_dtm_matrix = documents_dtm.todense()
documents_df = pd.DataFrame(documents_dtm_matrix,
                                            columns=feature_names)
document_word_count_vector = documents_dtm
#idf = np.array(count_vectorizer.idf_).T
#df_idf = pd.DataFrame(idf.T, 
#                                index=count_vectorizer.get_feature_names(),
#                                columns=["idf_weights"])

display("query_df",query_df)
display("documents_df",documents_df)
#display("df_idf", df_idf)

tfidf_transformer=TfidfTransformer(norm="l2",smooth_idf=True,use_idf=True,sublinear_tf=False)
document_word_tfidf_transform = tfidf_transformer.fit(document_word_count_vector)
idf = (tfidf_transformer.idf_).T
print("shape",document_word_count_vector.shape)
print("idf",idf)
print("=========================")
#print(document_word_count_vector)
feature_names = count_vectorizer.get_feature_names()
print(feature_names)

documents_dtm_matrix = document_word_count_vector.todense()
#print(documents_dtm_matrix)
documents_df = pd.DataFrame(documents_dtm_matrix,
                                    columns=feature_names)
display(documents_df)
row = [1,2,3,4,5]
row_transpose = np.array(row).T
print("idf",idf)
#print("row_transpose",row_transpose)
#numerator_df = documents_df.apply(lambda x: x*(k)*idf[int(x.name)],axis=1)
numerator_df = documents_df.apply(lambda x: x*idf,axis=1)
display("numerator_df",numerator_df)
#get tfidf vector for first document
#first_document_vector=tf_idf_vector[0]

'query_df'

   five  four  one  six  three  two
0     2     0    1    0      0    0

'documents_df'

   five  four  one  six  three  two
0     0     0    1    0      2    1
1     1     1    1    0      0    0
2     1     0    0    1      0    1

shape (3, 6)
idf [1.28768207 1.69314718 1.28768207 1.69314718 1.69314718 1.28768207]
=========================
['five', 'four', 'one', 'six', 'three', 'two']

   five  four  one  six  three  two
0     0     0    1    0      2    1
1     1     1    1    0      0    0
2     1     0    0    1      0    1

idf [1.28768207 1.69314718 1.28768207 1.69314718 1.69314718 1.28768207]

'numerator_df'

       five      four       one       six     three       two
0  0.000000  0.000000  1.287682  0.000000  3.386294  1.287682
1  1.287682  1.693147  1.287682  0.000000  0.000000  0.000000
2  1.287682  0.000000  0.000000  1.693147  0.000000  1.287682